#connectionStatus{
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
    font-weight:bold;
    width:fit-content;
}

.online{
    background:#DCFCE7;
    color:#166534;
}

.offline{
    background:#FEE2E2;
    color:#991B1B;
}

.candidate-photo-wrapper{
    display:flex;
    justify-content:center;
    margin:20px 0;
}

.candidate-photo{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:18px;
    border:4px solid white;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.spinner{

    width:48px;
    height:48px;

    border:5px solid #E5E7EB;
    border-top:5px solid #7C3AED;

    border-radius:50%;

    margin:0 auto 18px;

    animation:spin 1s linear infinite;

}

@keyframes spin{

    to{
        transform:rotate(360deg);
    }

}
