body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111827;
    font-family:Arial;
}

.login-card{
    width:340px;
    background:white;
    padding:32px;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    gap:14px;
}

input{
    padding:12px;
    font-size:16px;
}

button{
    padding:12px;
    background:#7C3AED;
    color:white;
    border:none;
    font-size:16px;
    cursor:pointer;
}

#message{
    color:#DC2626;
    text-align:center;
}
